.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f2937;
    /* gray-800 */
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1000;
    transition: opacity 0.2s ease;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}